html,
body { 
	background: #f2f2f2;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

h2{
	font-size: 21px;
	line-height: 100%;
	color: #000000;
	font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.inlineblock{
	display: inline-block;
	vertical-align: top;
}
.container_narrow{
	width: 676px;
	margin: 0 auto;	
	background-color: black;
}
.container_wide{
	width: 768px;
	margin: 0 auto;
}

header{
	width: 768px;
	min-height: 56px;
	margin: 0 auto;
	background-color: green;
}

header .logo{
	position: absolute;
	width: 138px;
	left:50%; 
	margin-left:-69px;
}

header nav{
	width: 676px;
	margin: 0 auto;	
	min-height: 56px;
	background-color: black;
}

header ul{
	list-style: none outside none;
	padding: 0;	
}

header li{
	width: 153px;
	min-height: 56px;
	float: left;
	background-color: red;
}

header li:nth-last-child(1),
header li:nth-last-child(2){
	background-color: blue;	
	text-align: right;
	
	float: right;
}

footer{	
	min-height: 120px;
	font-size: 0px;
	background-color: black;
}

footer .hashtag{
	width: 33.3%;
	min-height: 120px;
	font-size: 21px;
	
	background-color: yellow;	
}
footer .social{
	width: 33.3%;
	min-height: 120px;
	font-size: 21px;
	
	background-color: red;
}
footer .copyright{
	width: 33.3%;
	min-height: 120px;
	font-size: 21px;
	
	background-color: purple;
}










main{
	background-color: gray;
}
/*url("../img/main-logo_background.jpg"),*/
.city_logo{	
	min-height: 512px;	
	background-image: url("../img/main-logo_mask.png"),url("../img/main-logo_background.jpg");
	background-position: bottom, top;
	background-repeat: no-repeat;
	border-top: 1px solid white;
}

.city_logo .logo_word{
	width: 458px;
	min-height: 352px;
	margin: 0 auto;
	margin-top: 75px;
}

.city_title{
	min-height: 211px;
	
	background-color: white;
}

.city_informaton{
	font-size: 0px;
}

.reason{
	width: 33.3%;
	min-height: 256px;
	margin: 0 auto;
	font-size: 14px;
	background-color: green;
}

.reason:first-of-type,
.reason:nth-of-type(5){
	width: 768px;
}

.reason .color{
	width: 33.3%;
	min-height: 256px;
	background-color: gray;
}

.reason:first-of-type .color{
	float: left;	
}
.reason:nth-of-type(5) .color{
	float: right;	
}

.offers .search_offers{
	min-height: 291px;
	
	background-color: green;
}

.offers .map{	
	background-color: orange;
}

.form_search{
	display: none;
	width: 568px;
	min-height: 395px;
	margin: 0 auto;
	
	background-color: black;
	border: 1px solid white;
}

.form_search .container{	
	width: 458px;
	min-height: 285px;
	margin-top: 55px;	
	margin-left: 55px;
	
	background-color: white;
}








.hotel_filter{
	min-height: 218px;
	background-color: green;
	font-size: 0px;
}

.hotel_ifrastructure{
	width: 33.3%;
	background-color: red;
	min-height: 218px;
	font-size: 21px;
}

.hotel_type{
	width: 33.3%;
	background-color: blue;
	min-height: 218px;
	font-size: 21px;
}

.hotel_cost{
	width: 33.3%;
	background-color: yellow;
	min-height: 218px;
	font-size: 21px;
}

.hotel_cost .min_price{
	width: 50px;
}
.hotel_cost .max_price{
	width: 50px;
}

.btn{
	width: 137px;
	min-height: 36px;
	margin-top: 20px;
	margin-left: 20px;
}

.hotel_result{
	font-size: 0px;
}

.hotel_result .result{
	width: 152px;
	min-height: 86px;
	font-size: 21px;
	background-color: yellow;	
}
.hotel_result_sort{
	width: 370px;
	min-height: 86px;
	font-size: 12px;
	background-color: green;	
}

.hotel_result_sort ul{
	list-style: none outside none;
	padding: 0;	
}

.hotel_result_sort li{
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px;
}

.hotel_result .sort_direction{
	width: 154px;
	min-height: 86px;
	background-color: purple;	
}

.hotel_catalog .hotel{
	min-height: 150px;
	font-size: 0px;
	background-color: white;
}

.hotel .hotel_photo{
	width: 151px;
	min-height: 90px;	
	background-color: red;
}
.hotel .hotel_offer{
	width: 371px;
	min-height: 150px;
	font-size: 14px;
	background-color: green;
}
.hotel_offer p{
	font-size: 21px;
}

.hotel .rating{
	width: 154px;
	min-height: 150px;
	font-size: 14px;
	background-color: blue;
}
